version: "3"
services:
  postgres:
    image: library/postgres:13
    container_name: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./postgres/:/docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"

  app:
    image: rsoi-2022-lab1
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - ./main/:/app/
    environment:
      PORT: 5000
      FLASK_DEBUG: 1
      APP_FOLDER: "/app"
      DATABASE_URL: "postgresql://program:test@postgres:5432/persons"
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    restart: always

volumes:
  db-data: